/******************************************
   AUTHOR:  			Richard Howell 
   WEBSITE:   			http://www.rchhome.com/

 *****************************************/ 
 
/********************************************
   HTML ELEMENTS
********************************************/ 

.PlyrWinMin {
	/*background-color: #888888;*/
	/*background-color: rgb(0, 39, 2);*/
	border: rgb(0, 32, 69) solid 1px;
	border-radius: 60px;
	margin: 0px 15px 15px 0px;
	padding: 5px;
	height: 100px;
	width: 250px;
	float: left;
	display: inline;
}

.PlyrWinMinBody {
	display: none;
}

.PlyrWinMin .p_header {
	/*background-color: #AAAAAA;*/
	padding: 0px 0px 0px 0px;
	width: 75%;
	height: 25px;
}

.PlyrWinMin .p_name {
	/*background-color: #FF0000;*/
	font-weight: bold;
	width: 120px;
	height: 25px;
	padding: 0px 5px;
	float: left;
	overflow:hidden;
	text-transform: none;/**/
	/*color: #3C3C3C;*/
}

.PlyrWinMin .p_br {
	/*background-color: #FFFFFF;*/
	width: 40px;
	height: 25px;
	padding: 0px 5px;
	float: right;
	margin: 0px 0px 0px 0px;
	text-align: right;
}

.PlyrWinMin .p_face {
	/*background-color: #aaaaaa;*/
	width: 57.5px;
	height: 52.5px;
	padding: 0px 0px;
	border: 0px;
	float: right;
	margin: 0px 0px 0px 0px;
	text-align: center;
    vertical-align: top; /* here */
}

.PlyrWinMin .p_gallery {
	/*background-color: #aaaaaa;*/
	height: 50px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: right top;
	/*-webkit-filter: grayscale(1) opacity(0.5);*/
	-webkit-filter: opacity(.7) sepia(1);
}

/*.PlyrWinMin .p_close {
	background-color: #FFFFFF;
	width: 25px;
	height: 25px;
	padding: 0px 0px;
	border: 0px;
	float: right;
	margin: 0px 0px 0px 0px;
}*/

/******************
	Kill Que
*******************/
.PlyrWinMin .p_que {
	background-color: #003754;
	width: 75%;
	height: 20px;
	padding: 2.5px 0px 0px 0px;
	margin: 5px 0px 0px 0px;
}

.PlyrWinMin .p_que .p_que_k, .p_que_d, .p_que_s, .p_que_tk, .p_que_td {
	width: 20px;
	height: 17.5px;
	padding: 0px 0px;
	margin: 0px 0px 0px 2.5px;
	float: left;
	text-align: center;
	/*color: #FFFFFF;*/
	color: rgb(1, 163, 224);
}

.PlyrWinMin .p_que .p_que_k {
	/*background-color: #00B300;*/
	background-color: rgb(0, 160, 220);
	color: rgb(0, 0, 0);
}

.PlyrWinMin .p_que .p_que_tk {
	/*background-color: #FF9326;*/
	background-color: #FFFFFF;
	color: rgb(0, 0, 0);
}

.PlyrWinMin .p_que .p_que_d {
	/*background-color: #3C3C3C;
	color: rgb(0, 160, 220);*/
	background-color: #000000;
	color: rgb(0, 160, 220);
}

.PlyrWinMin .p_que .p_que_td {
	background-color: #3C3C3C;
	color: #FDFD00;
}

.PlyrWinMin .p_que .p_que_s {
	background-color: #D52F2F;
	color: rgb(253, 255, 255);
}

.PlyrKillQueDebug {
	/*background-color: #DDDDDD;*/
}

/******************
	Debug
*******************/
.PlyrKillQueDebug .p_debug_table {
	/*background-color: #DDDDDD;
	border: 0px;*/
	color: #686868;
}
.PlyrKillQueDebug {
	background-repeat: no-repeat;
	background-size: contain;
	background-position: right top;
}

.PlyrKillQueDebug .p_feed_d {
	background-color: #D90000;
}

.PlyrKillQueDebug .p_feed_s {
	background-color: #FF9326;
}

.PlyrKillQueDebug .p_feed_k {
	/*background-color: #00B300;*/
	border: 0px;
}

.PlyrKillQueDebug .p_feed_k td {
	/*background-color: #00B300;*/
	border: 0px;
}

