/******************************************
   AUTHOR:  			Richard Howell 
   WEBSITE:   			http://www.rchhome.com/

 *****************************************/ 
 
/********************************************
   HTML ELEMENTS
********************************************/ 

.header_body {
    height: 100px;
	background-color: rgb(1, 163, 224);
	color: rgb(0, 0, 0);
}

.header_body > h1 {
	margin: 0px 0px 0px 275px;
	padding: 10px 10px 10px 10px;
	font-size: 4em ;
}

#feed_body {
    height: 100%;
	position: absolute;
    margin-bottom: 30px;
}

.FeedDebug{
	height: 100px;
	/*background-color: #00758c;*/
	background-color: rgb(1, 163, 224);
}

.interface_scifi{
	margin: 0px;
	padding: 0px;
	/*background-color: #00141A;*/
	background-color: rgb(0, 5, 8);
	/*height: 100%;
	width: 100%;
	position: absolute;*/
	font-family: 'Pathway Gothic One', sans-serif;
	letter-spacing:1px;
	text-transform: uppercase;/**/
	/*color: #00758C;*/
	color: rgb(1, 163, 224);
}

.OutfitMon {
	/*background-color: #00141A;*/
	/*background-color: #00141A;*/
	padding: 10pt;
	/*display: inline-block;*/
}


/* OutfitMon Right Pane */
.OutfitMon .outfit_mon_content_wrapper {
	float: left;
	width: 100%;
}
.OutfitMon .outfit_mon_right_pane {
	float: left;
	margin: 0px 0px 0px 275px;
	/*width: 800px;*/
	/*background-color: #FF8000;*/
}
.OutfitMon .outfit_mon_tag {
	height: 50px;
	font-weight: bold;/**/
	/*font-family: Arial, Helvetica, sans-serif;*/
	/*font-family: 'Ropa Sans', sans-serif;*/
	/*font-family: 'Six Caps', sans-serif;*/
	font-size: 20pt;
	text-transform: uppercase;/**/
	/*background-color: #FF8000;*/
}
.OutfitMon .outfit_mon_body {
}


/* OutfitMon Left Pane */
.OutfitMon .outfit_mon_left_pane {
	float: left;
	width:265px;
	margin-left: -100%;
	/*min-height:600px;*/
	/*background-color: #FFFF00;*/
}
.feed_main_div {
	overflow: none;
}


